body,input,textarea,form,#atxt{font-family:'ÉqÉâÉMÉmäpÉS Pro W3','Hiragino Kaku Gothic Pro','ÉÅÉCÉäÉI',Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN',sans-serif;
font-size:10px;
color:#666666;
}

//#scor{font-size:15px;}

body{text-align:center;}

#quest{
padding-left:5px;
font-size:6px;
color:#666666;
border:1px solid #efefef;
width:700px;
scroll-bar:none;
margin-bottom:30px;
}

#atxt{
border:1px solid #efefef;
color:#666666;
margin-bottom:30px;
margin-left:0px;
font-size:15px;
text-align:left;
width:500px;
}
/*#atxt{width:656px;}*/



#spq{height:0px;
border:0px;
background-color:#ffffff;
width:700px;
}


#cspq{
font-size:15px;
padding-left:6px;
border:1px solid #efefef;
width:700px;
}


input{
margin-left:3px;
padding-left:5px;
border:1px solid #efefef;
color:#666666;
margin-bottom:3px;
}
#wrapper{margin:auto;
text-align:left;
width:720px;}